<ion-header>
  <common-nav-bar title="{{ 'TednWalletMain' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" scroll-y="false">
  <div class="page-content fill">
    <div class="hcf-layout fill">
      <div class="header flex-ch-centered">
        <div class="flex-h-dir-centered margin-top-22">
          <ion-label class="field-label title fw-bold font-size-24"> {{ wallet ? wallet.name : '' }}</ion-label>
        </div>
        <div class="flex-h-dir-centered tedn page-width-normal">
          <ion-label class="field-label font-size-13"> {{ 'CurrentBalance' | translate }}
          </ion-label>
          <ion-label #multilineLabel #multilineLayout="multilineLayout" [appMultilineLayout]="{ fontSizeForSingle:'18px', fontSizeForMulti:'16px', textAlignForSingle:'right', textAlignForMulti:'left'}"
            text-wrap class="field-value flex-item-fill font-size-18 text-right">
            {{ (!tednBalanceFormatted)?'-': tednBalanceFormatted }}
          </ion-label>
          <ion-label class="field-value-tail font-size-13">
            {{ 'TEDN' | translate }}
          </ion-label>
        </div>
      </div>

      <ion-content class="content" scroll-y="true" appScrollbarStyle [hidden]="isNoData">
        <ion-refresher slot="fixed" (ionRefresh)="reloadList($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list lines="none">
          <ion-item lines="none" *ngFor="let item of txList">
            <div class="row-icon-content">
              <div class="icon-area">
                <ion-icon src="/assets/img/arrow-drop-up.svg" *ngIf="item.isSend"></ion-icon>
                <ion-icon src="/assets/img/arrow-drop-down.svg" *ngIf="!item.isSend"></ion-icon>
              </div>
              <div class="inner-content">
                <div class="flex-h-dir">
                  <ion-label text-wrap class="label fw-bold flex-item-auto font-size-16" color="text-dark-1-1">
                    {{ item.amountDisplay }} {{ 'TEDN' | translate }}
                  </ion-label>
                </div>
                <div class="flex-h-dir">
                  <ion-label text-wrap class="flex-item-fill address font-size-14" color="text-dark-2"
                    *ngIf="item.isSend">
                    {{ ('To' | translate) }} {{ item.to_addr }}
                  </ion-label>
                  <ion-label text-wrap class="flex-item-fill address font-size-14" color="text-dark-2"
                    *ngIf="!item.isSend">
                    {{ ('From' | translate ) }} {{ item.from_addr }}
                  </ion-label>
                </div>

                <div class="flex-h-dir">
                  <ion-label class="flex-item-fill date text-right font-size-14" color="text-dark-2">
                    {{ item.regdate | date:'medium' }}
                  </ion-label>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll #infiniteScroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>

      <ion-content class="content" [hidden]="!isNoData">
        <ion-refresher slot="fixed" (ionRefresh)="reloadList($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="flex-ch-centered fill">
          <div class="flex-h-dir-centered">
            <ion-icon name="information-circle-outline" color="text-dark-1"></ion-icon>
            <ion-label class="icon-space-left-margin" color="text-dark-1">{{ 'NoTransactions' | translate }}</ion-label>
          </div>
        </div>
      </ion-content>

      <div class="footer">
        <ion-toolbar>
          <div class="flex-h-dir">
            <div class="flex-item-fill flex-ch-centered">
              <ion-button appBtnStyle class="fw-bold font-size-14" color="text-light-1" (click)="onReceiveClick()">{{ "Deposit" | translate }}</ion-button>
            </div>
            <div class="flex-item-fill flex-ch-centered">
              <ion-button appBtnStyle class="fw-bold font-size-14" color="text-light-1" (click)="onSendClick()">{{ "Withdraw" | translate }}</ion-button>
            </div>
          </div>
        </ion-toolbar>
      </div>
    </div>
  </div>
</ion-content>
