<div class="page-wrapper fill" no-padding>
  <div class="hcf-layout fill">
    <div class="header">
      <ion-list>
        <ion-item lines="none" [hidden]="!aliasEditing">
          <ion-input text-center #aliasInput [(ngModel)]="editingAlias" (keyup.enter)="handleAliasEditing()">
          </ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="field-label"> {{ 'CurrentBalance' | translate }}
          </ion-label>
          <ion-label text-right> {{ (!tednBalanceFormatted)?'-': (tednBalanceFormatted  | number: '.0-5') }}
            {{ 'TEDN' | translate }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-content class="content" [hidden]="txList.length < 1" padding>
      <ion-list *ngIf="txList.length > 0">
        <ion-item *ngFor="let item of txList" no-padding>
          <div class="row-icon-content">
            <div class="icon-area">
              <ion-icon name="arrow-round-up" *ngIf="isSendTx(item)"></ion-icon>
              <ion-icon name="arrow-round-down" *ngIf="!isSendTx(item)"></ion-icon>
            </div>
            <div class="inner-content">
              <div class="flex-h-dir">
                <ion-label class="label flex-item-auto">
                  {{ item.amount }} TEDN
                </ion-label>
              </div>
              <div class="flex-h-dir">
                <ion-label class="flex-item-fill address" color="info">
                  {{ item.to_addr }}
                </ion-label>
                <ion-label class="flex-item-auto">
                  {{ item.regdateText }}
                </ion-label>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>

    <ion-content class="content" [hidden]="txList.length > 0">
      <div class="flex-ch-centered fill">
        <div class="flex-h-dir-centered">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label class="icon-space-left-margin">No transactions found</ion-label>
        </div>
      </div>
    </ion-content>

    <div class="footer">
      <ion-toolbar>
        <div class="flex-h-dir">
          <div class="flex-item-fill flex-ch-centered">
            <ion-button appBtnStyle (click)="onReceiveClick()">{{ "Deposit" | translate }}</ion-button>
          </div>
          <div class="flex-item-fill flex-ch-centered">
            <ion-button appBtnStyle (click)="onSendClick()">{{ "Withdraw" | translate }}</ion-button>
          </div>
        </div>
      </ion-toolbar>
    </div>
  </div>
</div>
