<ion-header>
  <common-nav-bar title="{{ titleText }}">
  </common-nav-bar>
</ion-header>

<ion-content class="page-wrapper">
  <div class="page-content fill flex-ch-centered" ion-fixed>
    <div class="inner-content page-width-wide">
      <div class="content margin-top-40">
        <ion-label color="text-light-1" class="title comment-1 text-center">
          {{ isFaceIDAvailable?('RegAuthGuideComment-FaceID' | translate):('RegAuthGuideComment-TouchID' | translate) }}
        </ion-label>

        <div class="flex-h-dir function-box">
          <div class="icon-box">
            <div class="icon"
              [ngClass]="{'finger-print':!isFaceIDAvailable, 'face-id':isFaceIDAvailable}"></div>
          </div>
        </div>
        <div [hidden]="isFinished" class="comment-2">
          {{ isFaceIDAvailable?('RegAuthGuideComment2-FaceID' | translate):('RegAuthGuideComment2-TouchID' | translate) }}
        </div>
        <div [hidden]="!isFinished" class="comment-2 done flex-ch-centered">
          <div class="icon"></div>
          <div class="text">
            {{ 'Completed' | translate }}
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="flex-h-dir" [hidden]="isFinished">
          <ion-button expand="block" color="gray-2-button"
            class="later no-uppercase fw-bold font-size-12 radius-10 height-41 margin-top-49"
            (click)="onLaterBtnClick()">
            {{ 'Later' | translate }}
          </ion-button>
          <ion-button expand="block" color="theme-1"
            class="using no-uppercase fw-bold font-size-12 radius-10 height-41 margin-top-49"
            (click)="onUsingBtnClick()">
            {{ 'Register' | translate }}
          </ion-button>
        </div>
        <div class="flex-h-dir" [hidden]="!isFinished">
          <ion-button expand="block" color="theme-1"
            class="using no-uppercase fw-bold font-size-12 radius-10 height-41 margin-top-49"
            (click)="onNextBtnClick()">
            {{ 'Next' | translate }}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
