<ion-header>
  <common-nav-bar title="{{ 'AddEdnListTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-padding>
  <div class="page-content" padding>
    <ion-button expand="block" fill="clear" (click)="onAddFromEthClick()" class="margin-top-40">
      <div class="flex-h-dir-v-centered">
        <ion-icon class="icon" name="add-circle" color="text-light-1"></ion-icon>
        <ion-label color="text-light-1" class="row-hor-item-fill fw-500 font-size-14">{{
          'DpFromEth' | translate
        }}</ion-label>
      </div>
    </ion-button>
  </div>
</ion-content>
