<ion-content class="page-wrapper" scrollY="false" padding>
  <div class="page-content hcf-layout fill">
    <ion-content class="content" padding>
      <p><b>Privacy policy</b></p>

      <p>The e-garden is operated by Eden Partners. operating at the following address:</p>

      <p>
        22, Seocho-daero 78-gil,<br>
        Seocho-gu, Seoul,<br>
        Republic of Korea<br>
      </p>

      <p><b>Analytics</b></p>

      <p>
        This website includes Google Analyti software that collects anonymized information about
        visitors to help us provide better services. See how Google uses your data.
      </p>

      <p><b>Personal data</b></p>

      <p>
        This website allows address data consisting of given and family names, email addresses,
        shipping and billing addresses to be entered for the purpose of testing the checkout
        process.
      </p>

      <p>
        In case the data concerning a real person is entered it may be processed for the purpose of
        completing the checkout process and will be anonymized to avoid leaking it to other
        visitors accessing the dashboard part of the website.
      </p>

      <p>
        All data is wiped within 60 days of being entered or whenever a new version of the Saleor
        Demo is released.
      </p>

      <p><b>Your rights</b></p>

      <p>
        GDPR guarantees you a number of rights including but not limited to:
      </p>

      <p>
        - the right to know what data concerning you is held by any particular company and how it
        is processed;
      </p>
      <p>
        - the right to rectify any inaccurate personal data;
      </p>
      <p>
        - the right to be forgotten;
      </p>
      <p>
        - the right to restriction of processing;
      </p>
      <p>
        - the right to object to processing.
      </p>

      <p>
        Please consult the GDPR text in your language to better understand your rights. We ask that
        you direct all questions and requests related to your personal data to privacy@mirumee.com
        or
        that you send them to the postal address of the company listed above.
      </p>
    </ion-content>
    <div class="footer">
      <div class="divider"></div>
      <ion-toolbar>
        <div class="flex-h-dir">
          <div class="flex-item-fill flex-ch-centered">
            <ion-button appBtnStyle color="text-dark-1" class="fw-bold" (click)="disagree()">{{ 'Disagree' | translate }}</ion-button>
          </div>
          <div class="flex-item-fill flex-ch-centered">
            <ion-button appBtnStyle color="theme-2" class="fw-bold" (click)="agree()">{{ 'Agree' | translate }}</ion-button>
          </div>
        </div>
      </ion-toolbar>
    </div>
  </div>
</ion-content>
