<ion-header>
  <common-nav-bar title="{{ 'BackupWalletTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" scrollY="false">
  <div class="page-content fill flex-ch-centered" ion-fixed>
    <div class="inner-content page-width-wide">
      <div class="content margin-top-36">
        <ion-label color="theme-1" class="title font-size-18 fw-bold">
          {{ 'BackupWarningTitle' | translate }}
        </ion-label>
        <p class="margin-top-30">
          {{ 'BackupWarningMessage1' | translate }}
        </p>
        <p>
          {{ 'BackupWarningMessage2' | translate }}
        </p>
        <p>
          {{ 'BackupWarningMessage3' | translate }}
        </p>
      </div>

      <div class="footer">
        <ion-button expand="block" color="theme-1" class="fw-bold font-size-10 radius-10 height-41 margin-top-49"
          (click)="onReadyBackupBtnClick()">
          {{ 'ReadyBackup' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
