<ion-header>
  <common-nav-bar title="{{ 'BackupWalletTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-bounce>
  <div class="page-content fill flex-ch-centered" padding ion-fixed>
    <div class="inner-content">
      <div class="content margin-top-2x">
        <ion-label color="theme-1" class="title">
          {{ 'BackupWarningTitle' | translate }}
        </ion-label>
        <p class="margin-top">
          {{ 'BackupWarningMessage1' | translate }}
        </p>
        <p>
          {{ 'BackupWarningMessage2' | translate }}
        </p>
        <p>
          {{ 'BackupWarningMessage3' | translate }}
        </p>
      </div>

      <div class="footer">
        <ion-button expand="block" color="theme-1" class="margin-top-2x" (click)="rs.navigateByUrl('/backup-wallet')">
          {{ 'ReadyBackup' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
