<ion-header>
  <common-nav-bar title="{{ 'TednWalletMain' | translate }}"></common-nav-bar>
</ion-header>


<ion-content scrollY="false">
  <div class="page-wrapper fill">
    <div class="hcf-layout">
      <div class="header" [hidden]="true">
        <ion-list>
          <ion-item lines="none" [hidden]="!aliasEditing">
            <ion-input text-center #aliasInput [(ngModel)]="editingAlias" (keyup.enter)="handleAliasEditing()">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="field-label"> {{ 'CurrentBalance' | translate }}
            </ion-label>
            <ion-label text-right> {{ (!tednBalanceAdjusted)?'-': (tednBalanceAdjusted  | number: '.0-5') }}
              {{ 'TEDN' | translate }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-content class="content" scrollY="false">
        <ion-router-outlet mode="md" name="sub"></ion-router-outlet>
      </ion-content>
    </div>
  </div>
</ion-content>
