<ion-header>
  <common-nav-bar title="{{ 'TednWalletMain' | translate }}"></common-nav-bar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper fill">
    <div class="hcf-layout">
      <div class="header">
        <ion-item lines="none">
          <ion-label> {{ 'CurrentBalance' | translate }} </ion-label>
        </ion-item>
      </div>

      <div class="content"></div>

      <div class="footer">
        <ion-toolbar class="footer">
          <div class="flex-h-dir">
            <div class="flex-item-fill flex-ch-centered">
              <ion-button btnStyle>{{ 'Deposit' | translate }}</ion-button>
            </div>
            <div class="flex-item-fill flex-ch-centered">
              <ion-button btnStyle>{{ 'Withdraw' | translate }}</ion-button>
            </div>
          </div>
        </ion-toolbar>
      </div>
    </div>
  </div>
</ion-content>
