<!-- <div class="fill back-image"> -->
<ion-header>
  <common-nav-bar title="{{ 'SignupTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper">
  <div class="page-content">
    <div class="header" margin-bottom>
      <div margin-top class="logo-wrapper header">
        <div class="logo-img-big"></div>
      </div>
    </div>
    <div class="content flex-ch-h-centered">
      <div class="flex-ch-centered form-area page-width-normal">
        <div class="text-center text-light-1">
          <ion-label class="font-size-10">{{ 'SignupComment' | translate }}</ion-label>
        </div>

        <form novalidate [formGroup]="signupForm" class="fill-width">
          <ion-item class="input-field" lines="none">
            <span class="input-field-icon email"></span>
            <ion-input #userEmail [placeholder]="'InputUserEmail' | translate" type="email"
              formControlName="email" (keyup.enter)="userPasswd.setFocus()" class="font-size-09"
              color="text-light-1"></ion-input>
            <span class="input-field-icon email invisible"></span>
          </ion-item>
          <div class="form-error-msg" *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">
            <div *ngIf="signupForm.get('email').hasError('required')">
              {{ 'valid.email.required' | translate }}
            </div>
            <div *ngIf="signupForm.get('email').hasError('pattern')">
              {{ 'valid.email.pattern' | translate }}
            </div>
          </div>

          <ion-item class="input-field field-space" lines="none">
            <span class="input-field-icon lock"></span>
            <ion-input #userPasswd clearOnEdit="true" type="password" class="font-size-09"
              formControlName="password" [placeholder]="'EnterPassword' | translate" (keyup.enter)="userPasswdConfirm.setFocus()"
              color="text-light-1"></ion-input>
            <span class="input-field-icon lock invisible"></span>
          </ion-item>
          <div class="form-error-msg" *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid">
            <div *ngIf="signupForm.get('password').hasError('required')">
              {{ 'valid.password.required' | translate }}
            </div>
            <div *ngIf="signupForm.get('password').hasError('minlength')">
              {{ 'valid.password.minlength' | translate }}
            </div>
            <div *ngIf="signupForm.get('password').hasError('maxlength')">
              {{ 'valid.password.maxlength' | translate }}
            </div>
          </div>

          <ion-item class="input-field field-space" lines="none">
            <ion-input #userPasswdConfirm clearOnEdit="true" type="password" formControlName="passwordConfirm"
              [placeholder]="'ConfigmPasswd' | translate" color="text-light-1" class="font-size-09"
              (keyup.enter)="signup()"></ion-input>
          </ion-item>
          <div class="form-error-msg" *ngIf="signupForm.get('passwordConfirm').touched && ( signupForm.get('passwordConfirm').invalid  || signupForm.hasError('areEqual') )">
            <div *ngIf="signupForm.get('passwordConfirm').hasError('required')">
              {{ 'valid.confirm-password.required' | translate }}
            </div>
            <div *ngIf="signupForm.hasError('areEqual')">
              {{ 'valid.confirm-password.areEqual' | translate }}
            </div>
          </div>

          <div class="margin-top-30">
            <ion-button expand="block" color="theme-2" class="fw-bold no-uppercase radius-10 font-size-12"
              (click)="signup()">{{
                  'Continue' | translate
                }}</ion-button>
          </div>
        </form>

        <div class="flex-h-dir-centered margin-top-49 social-wrapper" margin-bottom>
          <ion-button appBtnStyle (click)="signinWithFacebook()" *ngIf="false">
            <ion-icon src="/assets/img/facebook.svg" class="social-icon"></ion-icon>
          </ion-button>
          <ion-button appBtnStyle (click)="signinWithTwitter()" *ngIf="false">
            <ion-icon src="/assets/img/twitter.svg" class="social-icon"></ion-icon>
          </ion-button>
          <ion-button appBtnStyle (click)="signinWithGoogle()">
            <ion-icon src="/assets/img/google.svg" class="social-icon"></ion-icon>
            <ion-icon src="/assets/img/g-plus.svg" class="social-icon g-plus"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- </div> -->
