<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'DpEdnListTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="page-wrapper" padding>
    <button ion-button>
      <div class="row-hor-direction">
        <ion-fab-button icon-start color="medium">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-label class="row-hor-item-fill">{{ 'DpFromEth' | translate }}</ion-label>
      </div>
    </button>
  </div>
</ion-content>