<ion-header>
  <common-nav-bar title="{{ 'DpEdnListTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content no-padding>
  <div class="page-wrapper" padding>
    <button ion-button>
      <div class="row-hor-direction">
        <ion-fab-button icon-start color="medium" (click)="onAddFromEthClick()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-label class="row-hor-item-fill">{{
          'DpFromEth' | translate
        }}</ion-label>
      </div>
    </button>
  </div>
</ion-content>
