@import '../../../../theme/common.scss';

.inner-content {
  width: var(--page-width-wide);
  height: 100%;
  align-items: center;

  .comment {
    color: var(--color-text-light-1);
  }

  >.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
    }

    ion-content {
      >div {
        min-height: 100%;
      }

      flex: 1;
    }
  }

  >.footer {
    width: 100%;
  }
}

ion-button.selected {
  opacity: 0.5;
}

.user-input-container {
  width: 100%;
  padding: 20px;
  min-height: 150px;

  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-text-dark-1);
  padding-bottom: 0px;
}

.words-box {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--color-text-dark-1);
}

.user-select-container {
  padding: 20px;
}

ion-item {
  --background: transparent;
}

ion-button {
  font-size: .9em;
}

.word-button {
  --padding-start: var(--space-qt);
  --padding-end: var(--space-qt);
  margin-left: var(--space-qt);
  margin-right: var(--space-qt);
}
