<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'CreatePinTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper fixed-flex" padding ion-fixed>
    <div class="hcf-content">
      <div class="content">
        <p>
          {{ 'PinComment' | translate }}
        </p>

        <ion-item lines="none">
          <ion-label>
            {{ 'CreatePinComment' | translate }}
          </ion-label>
        </ion-item>

        <div class="pin-code">
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
        </div>
      </div>

      <div class="footer">
        <ion-button expand="block">
          {{ 'CreatePin' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>