<ion-header>
  <common-nav-bar title="{{ 'CreatePinTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper fill" padding ion-fixed>
    <div class="hcf-layout">
      <div class="content">
        <p>{{ 'PinComment' | translate }}</p>

        <ion-item lines="none">
          <ion-label> {{ 'CreatePinComment' | translate }} </ion-label>
        </ion-item>

        <div class="pin-code">
          <ion-button color="medium"> </ion-button>
          <ion-button color="medium"> </ion-button>
          <ion-button color="medium"> </ion-button>
          <ion-button color="medium"> </ion-button>
          <ion-button color="medium"> </ion-button>
          <ion-button color="medium"> </ion-button>
        </div>
      </div>

      <div class="footer">
        <ion-button expand="block" href="/home">
          {{ 'CreatePin' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
