.page-content {
  align-items: center;
  height: 60%;
}

.page-content .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content .content p {
  text-align: center;
}

.footer {
  width: 100%;
}

ion-item {
  --background: transparent;
}

num-pad {
  margin-top: 20px;
}
