<ion-header>
  <common-nav-bar title="{{ isCreation ? ('CreatePinTitle' | translate) : ('ConfirmPinTitle' | translate) }}"
    (handleBack)="handleBack()"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" scrollY="false">
  <div class="page-content fill hcf-layout flex-col-h-center">
    <div class="hcf-layout header">
      <div class="content flex-ch-centered">

        <div *ngIf="isCreation && !isConfirmStep">
          <span class="comment">{{ 'PinComment' | translate }}</span>

          <ion-item lines="none" class="margin-top-2x">
            <ion-label text-center class="fw-bold"> {{ 'CreatePinComment' | translate }}
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="isConfirmStep">
          <ion-item lines="none">
            <ion-label text-center class="fw-bold"> {{ 'ConfirmPinComment' | translate }}
            </ion-label>
          </ion-item>
        </div>

        <div class="pin-code flex-h-dir">
          <span class="code-box radius-10" [ngClass]="{selected:(numPad.getUserInputCount() > 0)}"></span>
          <span class="code-box radius-10" [ngClass]="{selected:(numPad.getUserInputCount() > 1)}"></span>
          <span class="code-box radius-10" [ngClass]="{selected:(numPad.getUserInputCount() > 2)}"></span>
          <span class="code-box radius-10" [ngClass]="{selected:(numPad.getUserInputCount() > 3)}"></span>
          <span class="code-box radius-10" [ngClass]="{selected:(numPad.getUserInputCount() > 4)}"></span>
          <span class="code-box radius-10" [ngClass]="{selected:(numPad.getUserInputCount() > 5)}"></span>
        </div>
      </div>

      <div class="footer" [hidden]="isConfirmStep">
        <ion-button expand="block" color="theme-1" [disabled]="numPad.getUserInputCount() !== 6"
          (click)="onCreatePinBtnClick()">
          {{ 'CreatePin' | translate }}
        </ion-button>
      </div>
    </div>
    <num-pad class="content" style="width:100%;" (change)="onNumChange()"></num-pad>
  </div>
</ion-content>
