<ion-app>
  <ion-menu #sideMenu side="start" [hidden]="!env.config.useSideMenu">
    <ion-content>
      <ion-list>
        <div class="img-wrapper flex-ch-centered margin-top-3x">
          <div class="img-background flex-ch-centered">
            <div class="img-content">
              <div class="profile-img" [ngStyle]="{'background-image': getUserProfileImage() }"></div>
            </div>
          </div>
        </div>
        <div class="flex-ch-centered margin-top-3x">
          <ion-label class="userDisplay">{{ getUserEmail() }}</ion-label>
        </div>
        <div class="flex-ch-centered margin-top-2x">
          <ion-button class="signout" color="theme-2" (click)="signout()">
            Signout
          </ion-button>
        </div>
      </ion-list>
      <ion-list *ngIf="env.config.useSideMenuForDebug">
        <ion-item *ngFor="let item of rPaths.paths">
          <ion-button (click)="navigateToUrlBySideMenu(item)">
            {{item}}
          </ion-button>
        </ion-item>
        <ion-item *ngFor="let item of rPaths.customPaths">
          <ion-button (click)="navigateToUrlBySideMenu(item)">
            {{item}}
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="" rows="10" [(ngModel)]="envConfigText"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-button (click)="resetEnvConfigText()">
            Get Env Config
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button (click)="chagngeEnvConfig()">
            Change Env Config
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

  <span class="version-info">
    <span>{{ appVersionNumber ? ('ver' + appVersionNumber) : 'ver?' }} </span>
  </span>

  <ion-button class="back-button-simulater" *ngIf="env.config.simulateHardwareBackButton" (click)="handleHardwareBackButton()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </ion-button>
</ion-app>
