<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="rs.goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'DpEdnMainTitle' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-padding no-bounce>
  <div class="page-wrapper" padding ion-fixed>
    <div class="inner-content">
      <ion-label>{{ 'Exchange' | translate }}</ion-label>
      <ion-select [ngModel]="selectedTrader">
        <ion-select-option>Kyber Networks</ion-select-option>
      </ion-select>
      <ion-label>{{ 'AddEdnTo' | translate }}</ion-label>
      <ion-select>
        <ion-select-option>My Wallet</ion-select-option>
      </ion-select>
      <ion-label>{{ 'Amount' | translate }}</ion-label>
      <ion-item no-padding>
        <ion-input>

        </ion-input>
        <ion-label>ETH</ion-label>
      </ion-item>

      <ion-item no-padding margin-top>
        <ion-input>

        </ion-input>
        <ion-label>EDN</ion-label>
      </ion-item>

      <ion-button>{{ 'Add' | translate }}</ion-button>
    </div>
  </div>
</ion-content>