<ion-header>
  <common-nav-bar title="{{ 'DpEdnMainTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-padding scrollY="false">
  <div class="page-content fill flex-ch-centered" padding>
    <div class="content free-form-area fill-width">
      <ion-label>{{ 'Exchange' | translate }}</ion-label>
      <ion-select class="input-field margin-top-half" [(ngModel)]="selectedTrader">
        <ion-select-option>Kyber Networks</ion-select-option>
      </ion-select>

      <ion-label class="margin-top-2x">{{ 'AddEdnTo' | translate }}</ion-label>
      <ion-select class="input-field margin-top-half" [(ngModel)]="selectedWalletId" (ionChange)="onWalletChange(this)">
        <ion-select-option *ngFor="let item of wallets; let idx = index;" [value]="item.id">{{ item.profile.alias }}</ion-select-option>
      </ion-select>

      <ion-label class="margin-top-2x sub-header">{{ 'Amount' | translate }}</ion-label>

      <ion-item lines="full" class="full-text-input">
        <ion-label class="invisible">{{ 'ETH' | translate }}</ion-label>

        <ion-input type="number" color="text-light-1" text-center [(ngModel)]="ethAmount"
          (ionChange)="getRateByLocally()"></ion-input>
        <ion-label>{{ 'ETH' | translate }}</ion-label>
      </ion-item>

      <ion-item lines="full" class="full-text-input readonly">
        <ion-label class="invisible">{{ 'EDN' | translate }}</ion-label>
        <ion-input [readonly]="true" color="text-light-1" text-center [(ngModel)]="ednFromEthEstimatedText"></ion-input>
        <ion-label>{{ 'EDN' | translate }}</ion-label>
      </ion-item>

      <ion-button expand="block" color="theme-1" (click)="tradeEthToEdn()" class="margin-top-2x fw-bold">{{ 'Add' | translate }}</ion-button>
    </div>
  </div>

</ion-content>
