.page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper .inner-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; // align-items center
}

ion-select {
  width: 100%;
  background-color: white;
}