<ion-header>
  <common-nav-bar title="{{ 'EwMainTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-padding>
  <div class="page-content fill hcf-layout">
    <div class="header">
      <ew-summary #summary></ew-summary>
    </div>

    <div class="content margin-top-48 flex-ch-h-centered">
      <div>
        <ion-button class="qr-wrapper" (click)="onQrCodeClick()" fill="clear" *ngIf="qrCodeData">
          <qrcode [qrdata]="qrCodeData" [size]="200" [level]="'M'"></qrcode>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
