.hidden {
  display: none;
}

ion-button {
  text-transform: none;
}

ion-textarea {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

ion-col {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  margin: 1px;
}
