<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'BackupWalletTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper" padding ion-fixed>
    <div class="hcf-content">
      <div class="content">
        <ion-label color="danger">
          {{ 'BackupWarningTitle' | translate }}
        </ion-label>
        <p>
          {{ 'BackupWarningMessage' | translate }}
        </p>
      </div>

      <div class="footer">
        <ion-button expand="block" color="danger">
          {{ 'ReadyBackup' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>