<ion-content class="page-wrapper" no-padding scrollY="false">
  <div class="background" #background style="z-index:-1;"></div>

  <div class="page-content free-form-area fill flex-ch-centered" padding>
    <div>
      <div class="header">
        <div class="flex-h-dir-v-centered margin-top-2x">
          <ion-label class="field-label"> {{ 'CurrentBalance' | translate }}
          </ion-label>
          <ion-label text-right class="tedn flex-item-fill"> {{ (!tednBalanceFormatted)?'-': (tednBalanceFormatted  | number: '.0-5') }}
            {{ 'TEDN' | translate }}
          </ion-label>
        </div>
      </div>

      <div class="content fill-width">
        <div *ngIf="mode === 'deposit'" class="margin-top-3x">
          <ion-label>{{ 'WithdrawEDNFrom' | translate }}</ion-label>
          <ion-select class="input-field margin-top-half" [(ngModel)]="selectedEthWalletId">
            <ion-select-option *ngFor="let item of wallets; let idx = index;" [value]="item.id">{{ item.profile.alias }}</ion-select-option>
          </ion-select>

          <ion-label class="margin-top-2x">{{ 'DepositAsTEDNInto' | translate }}</ion-label>
          <ion-select class="input-field margin-top-half" [(ngModel)]="selectedTednWalletId">
            <ion-select-option *ngFor="let item of tednWallets; let idx = index;" [value]="item.id">{{ item.name }}</ion-select-option>
          </ion-select>
        </div>

        <div *ngIf="mode === 'withdraw'" class="margin-top-3x">
          <ion-label>{{ 'WithdrawTEDNFrom' | translate }}</ion-label>
          <ion-select class="input-field margin-top-half" [(ngModel)]="selectedTednWalletId">
            <ion-select-option *ngFor="let item of tednWallets; let idx = index;" [value]="item.id">{{ item.name }}</ion-select-option>
          </ion-select>

          <ion-label class="margin-top-2x">{{ 'DepositAsEDNInto' | translate }}</ion-label>
          <ion-select class="input-field margin-top-half" [(ngModel)]="selectedEthWalletId">
            <ion-select-option *ngFor="let item of wallets; let idx = index;" [value]="item.id">{{ item.profile.alias }}</ion-select-option>
          </ion-select>
        </div>


        <ion-label class="margin-top-3x sub-header">{{ 'Amount' | translate }}</ion-label>

        <ion-item lines="full" class="full-text-input margin-top-2x">
          <ion-label class="invisible" *ngIf="mode === 'deposit'">{{ 'EDN' | translate }}</ion-label>
          <ion-label class="invisible" *ngIf="mode === 'withdraw'">{{ 'TEDN' | translate }}</ion-label>

          <ion-input color="text-light-1" text-center #tradeAmountInput type="number" [(ngModel)]="tradeAmount"></ion-input>

          <ion-label *ngIf="mode === 'deposit'">{{ 'EDN' | translate }}</ion-label>
          <ion-label *ngIf="mode === 'withdraw'">{{ 'TEDN' | translate }}</ion-label>
        </ion-item>
      </div>

      <div class="footer fill-width margin-top-2x">
        <ion-button expand="block" class="fw-bold" color="theme-1" (click)="tradeEdnToTedn()" *ngIf="mode === 'deposit'">{{ 'Deposit' | translate }}</ion-button>
        <ion-button expand="block" class="fw-bold" color="theme-1" (click)="tradeTednToEdn()" *ngIf="mode === 'withdraw'">{{ 'Withdraw' | translate }}</ion-button>
      </div>
    </div>

  </div>

</ion-content>
