<ion-header>
  <common-nav-bar title="{{ 'TednWalletMain' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-padding>
  <div class="page-content fill flex-ch-h-centered" padding>
    <div class="page-width-wide">
      <div class="header">
        <div class="flex-h-dir-v-centered margin-top-2x">
          <ion-label class="field-label font-size-13"> {{ 'CurrentBalance' | translate }}
          </ion-label>
          <ion-label #multilineLabel #multilineLayout="multilineLayout" [appMultilineLayout]="{ fontSizeForSingle:'18px', fontSizeForMulti:'16px', textAlignForSingle:'right', textAlignForMulti:'left'}"
            text-wrap class="tedn flex-item-fill text-right"> {{ (!tednBalanceFormatted)?'-': (tednBalanceFormatted) }}</ion-label>
          <ion-label class="field-value-tail">
            {{ 'TEDN' | translate }}
          </ion-label>
        </div>
      </div>

      <div class="content fill-width">
        <div *ngIf="mode === 'deposit'" class="margin-top-3x">
          <ion-label class="font-size-15">{{ 'WithdrawEDNFrom' | translate }}</ion-label>
          <ion-select class="input-field margin-top-half font-size-15" [(ngModel)]="selectedEthWalletId">
            <ion-select-option *ngFor="let item of wallets; let idx = index;" [value]="item.id">{{ item.profile.alias }}</ion-select-option>
          </ion-select>

          <ion-label class="margin-top-2x font-size-15">{{ 'DepositAsTEDNInto' | translate }}</ion-label>
          <ion-select class="input-field margin-top-half font-size-15" [(ngModel)]="selectedTednWalletId">
            <ion-select-option *ngFor="let item of tednWallets; let idx = index;" [value]="item.id">{{ item.name }}</ion-select-option>
          </ion-select>
        </div>

        <div *ngIf="mode === 'withdraw'" class="margin-top-3x">
          <ion-label class="font-size-15">{{ 'WithdrawTEDNFrom' | translate }}</ion-label>
          <ion-select class="input-field font-size-15 margin-top-half" [(ngModel)]="selectedTednWalletId">
            <ion-select-option *ngFor="let item of tednWallets; let idx = index;" [value]="item.id">{{ item.name }}</ion-select-option>
          </ion-select>

          <ion-label class="font-size-15 margin-top-2x">{{ 'DepositAsEDNInto' | translate }}</ion-label>
          <ion-select class="input-field font-size-15 margin-top-half" [(ngModel)]="selectedEthWalletId">
            <ion-select-option *ngFor="let item of wallets; let idx = index;" [value]="item.id">{{ item.profile.alias }}</ion-select-option>
          </ion-select>
        </div>


        <ion-label class="margin-top-3x sub-header font-size-18">{{ 'Amount' | translate }}</ion-label>

        <ion-item lines="full" class="full-text-input margin-top-2x" [ngClass]="{'selected':isInputHasNonZero(tradeAmountInput)}">
          <ion-input color="text-light-1" text-right #tradeAmountInput appWeakNumber (ionChange)="onTradeAmountChange()"
            [(ngModel)]="tradeAmount"></ion-input>

          <ion-label *ngIf="mode === 'deposit'">{{ 'EDN' | translate }}</ion-label>
          <ion-label *ngIf="mode === 'withdraw'">{{ 'TEDN' | translate }}</ion-label>
        </ion-item>
      </div>

      <div class="footer fill-width margin-top-2x">
        <ion-button expand="block" class="fw-bold margin-bottom radius-10 height-41 font-size-12"
          color="theme-1" (click)="tradeEdnToTedn()" *ngIf="mode === 'deposit'">{{ 'Deposit' | translate }}</ion-button>
        <ion-button expand="block" class="fw-bold margin-bottom radius-10 height-41 font-size-12"
          color="theme-1" (click)="tradeTednToEdn()" *ngIf="mode === 'withdraw'">{{ 'Withdraw' | translate }}</ion-button>
      </div>
    </div>

  </div>

</ion-content>
