.hcf-layout {
  height: 100%;
}

.header {
  --background: var(--tcol-mainback);
}

.header ion-item {
  --background: var(--tcol-mainback);
}

ion-label.field-label {
  flex: none;
  margin-right: 13px;
}

ion-list {
  margin-bottom: 0px;
}
