<ion-header>
  <common-nav-bar title="{{ 'EwMainTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" scrollY="false">
  <div class="page-content fill">
    <div class="hcf-layout fill-height">
      <div class="header" [hidden]="keyboardVisible && !aliasEditing">
        <ion-list>
          <ion-item lines="none" [hidden]="aliasEditing">
            <ion-label text-center color="theme-1" class="wallet-name fw-bold" (click)="onWalletAliasClick()">
              {{ wallet ? wallet.profile.alias : '' }}
            </ion-label>
          </ion-item>
          <ion-item lines="none" [hidden]="!aliasEditing">
            <ion-input text-center color="theme-1" class="wallet-name fw-bold" #aliasInput
              [(ngModel)]="editingAlias" (keyup.enter)="handleAliasEditing()">
            </ion-input>
          </ion-item>
          <ion-item class="sub-item" lines="none">
            <ion-label class="field-label"> {{ 'Address' | translate }}</ion-label>
            <ion-label text-right class="field-value" (click)="onWalletAddressClick(wallet.address)">
              {{ wallet ? wallet.address : '' }}
            </ion-label>
          </ion-item>
          <ion-item class="sub-item" lines="none">
            <ion-label class="field-label"> {{ 'CurrentBalance' | translate }}
            </ion-label>
            <ion-label class="field-value" text-right> {{ (!ednBalanceAdjusted)?'-': (ednBalanceAdjusted  | number: '.0-5') }}
              {{ 'EDN' | translate }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-content class="content" scrollY="false">
        <ion-router-outlet mode="md" name="sub"></ion-router-outlet>
      </ion-content>
    </div>
  </div>
</ion-content>
