<ion-header>
  <common-nav-bar title="{{ 'EwMainTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper fill">
    <div class="hcf-layout">
      <div class="header">
        <ion-item lines="none">
          <ion-title> {{ 'Expenses' | translate }} </ion-title>
        </ion-item>
        <ion-item lines="none" href="/ew-main/sub/(sub:qrcode)">
          <ion-label> {{ 'Address' | translate }} </ion-label>
          <ion-label> 0x1234567890 </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label> {{ 'CurrentBalance' | translate }} </ion-label>
          <ion-label> 0x1234567890 </ion-label>
        </ion-item>
      </div>
      <ion-content class="content" style="background:red;">
        <ion-router-outlet name="sub"></ion-router-outlet>
      </ion-content>
    </div>
  </div>
</ion-content>
