<ion-header>
  <common-nav-bar title="{{ 'EwMainTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-padding scrollY="false">
  <div class="page-content fill">
    <div class="hcf-layout fill">
      <div class="header">
        <ew-summary #summary></ew-summary>
      </div>
      <ion-content class="content" class="content" appScrollbarStyle [hidden]="isNoData">
        <ion-refresher slot="fixed" (ionRefresh)="reloadList($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list>
          <ion-item lines="none" *ngFor="let item of txList">
            <div class="row-icon-content">
              <div class="icon-area">
                <ion-icon src="/assets/img/arrow-drop-up.svg" *ngIf="isSendTx(item)"></ion-icon>
                <ion-icon src="/assets/img/arrow-drop-down.svg" *ngIf="!isSendTx(item)"></ion-icon>
              </div>
              <div class="inner-content">
                <div class="flex-h-dir">
                  <ion-label class="label flex-item-auto font-size-16 fw-bold" color="text-dark-1-1">
                    {{ item.info.amount.display | number: '.0-1000' }} {{ 'EDN' | translate }}
                  </ion-label>
                </div>
                <div class="flex-h-dir">
                  <ion-label text-wrap class="flex-item-fill address font-size-14" color="text-dark-2">
                    {{ isSendTx(item) ? ('To' | translate) : ('From' | translate ) }} {{ item.info.to }}
                  </ion-label>
                </div>
                <div class="flex-h-dir">
                  <ion-label class="text-right flex-item-fill date font-size-14" color="text-dark-2">
                    {{ getDate(item.cDate) | date:'medium' }}
                  </ion-label>
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll #infiniteScroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>

      <ion-content class="content" [hidden]="!isNoData">
        <ion-refresher slot="fixed" (ionRefresh)="reloadList($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <div class="flex-ch-centered fill">
          <div class="flex-h-dir-centered">
            <ion-icon name="information-circle-outline" color="text-dark-1"></ion-icon>
            <ion-label class="icon-space-left-margin" color="text-dark-1">{{ 'NoTransactions' | translate }}</ion-label>
          </div>
        </div>
      </ion-content>

      <div class="footer">
        <ion-toolbar>
          <div class="flex-h-dir">
            <div class="flex-item-fill flex-ch-centered">
              <ion-button appBtnStyle color="text-light-1" class="fw-bold" (click)="onReceiveClick()">{{ "Receive" | translate }}</ion-button>
            </div>
            <div class="flex-item-fill flex-ch-centered">
              <ion-button appBtnStyle color="text-light-1" class="fw-bold" (click)="onSendClick()">{{ "Send" | translate }}</ion-button>
            </div>
          </div>
        </ion-toolbar>
      </div>
    </div>
  </div>

</ion-content>
