// this will also available to use from all pages
@import '../../../../theme/common.scss';

.item:last-child {
  --border-width: 0 0 0 0;
}

.content {
  --background: rgba(255, 255, 255, 0.86);

  ion-list {
    --background: none;
    background: none;
    --padding-top: 0px;
  }

  ion-item {
    --background: none;
    background: none;
    --padding-start: var(--space-normal);
    --padding-end: var(--space-normal);
  }
}

.row-icon-content {
  text-overflow: ellipsis;
  overflow: hidden;

  margin-top: var(--space-half);
  margin-bottom: var(--space-half);

  * {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .icon-area>* {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    opacity: 0.54;
  }

  .inner-content {
    ion-label {
      margin-top: 4px;
      margin-bottom: 4px;
    }

    .title {
      margin-top: 0px;
      margin-bottom: 4px;
    }

    .sub-title {
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }

  .label {
    margin-right: 13px;
  }

  .address {
    font-size: .9em;
  }

  .date {
    font-size: .9em;
  }
}

.footer {
  ion-toolbar {
    --background: none;
  }
}
