// this will also available to use from all pages
@import '../../../../theme/common.scss';

.item:last-child {
  --border-width: 0 0 0 0;
}

.list-container {
  --background: rgba(255, 255, 255, 0.86);
  background: rgba(255, 255, 255, 0.86);

  ion-content {
    .scroll-to-top {
      width: 54px;
      height: 40px;
      background-image: url('/assets/img/scroll-top.svg');
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .scroll-to-bottom {
      width: 54px;
      height: 40px;
      background-image: url('/assets/img/scroll-bottom.svg');
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  ion-list {
    --background: none;
    background: none;
    --padding-top: 0px;
  }

  ion-item {
    --background: none;
    background: none;
    --padding-start: var(--space-normal);
    --padding-end: var(--space-normal);
  }

  .search-form {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 32px;

    font-weight: bold;
    font-size: 10px;

    margin-left: 20px;
    margin-right: 18px;
    background-color: #ffffff;

    ion-input {
      --placeholder-color: #979797;
      --placeholder-opacity: 1.0;
      --padding-start: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .search-address {
      color: #979797;
    }

    .search-date {
      color: var(--color-theme-1);
      width: 120px;
    }

    .search-date.empty {
      color: #979797;
    }

    .search-icon {
      width: 15px;
      height: 15px;
      background-image: url('/assets/img/search.svg');
      margin-right: 7px;
    }

    .bar {
      margin-right: 10px;
      display: inline-block;
      width: 1px;
      height: 24px;
      background-color: #BCBCBC;
    }
  }
}

.row-icon-content {
  text-overflow: ellipsis;
  overflow: hidden;

  margin-top: var(--space-half);
  margin-bottom: var(--space-half);

  * {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .icon-area>* {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: 1;
  }

  .inner-content {
    ion-label {
      margin-top: 4px;
      margin-bottom: 4px;
    }

    .title {
      margin-top: 0px;
      margin-bottom: 4px;
    }

    .sub-title {
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }

  .label {
    margin-right: 13px;
  }
}

.footer {
  ion-toolbar {
    --background: none;
  }
}
