<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleSideMenu()">
        <ion-icon class="menu-icon margin-left-10" src="/assets/img/menu-fixed.svg" color="text-light-1"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="text-center">
      <div class="logo-wrapper">
        <div class="logo-img"></div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="invisible">
        <ion-icon class="menu-icon margin-right-10" src="/assets/img/menu-fixed.svg" color="text-light-1"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-wrapper" no-padding scrollY="false">
  <div class="page-content fill hcf-layout">
    <div padding class="content lists-wrapper">
      <div margin-bottom class="hcf-layout wallet-container edn">
        <ion-toolbar class="header" color="main2">
          <ion-label color="text-light-1" class="fw-bold">{{ 'MyEDNWalletsTitle' | translate }}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="rs.navigateByUrl('/add-wallet')">
              <ion-icon name="add" color="text-light-1"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content class="content">
          <ion-list lines="none" no-margin padding class="content-list">
            <ion-item style="flex-wrap:wrap;" lines="none" no-margin (click)="onWalletItemClick(item)"
              *ngFor="
            let item of wallets;
            let i = index;
            let isOdd = odd;
            let isEven = even
          "
              [ngClass]="{
            even: isEven,
            odd: isOdd
          }">

              <div class="row-icon-content">
                <div class="icon-area">
                  <div [ngStyle]="{ 'background-color': item.data.profile.color }"></div>
                </div>
                <div class="inner-content">
                  <div>
                    <ion-label color="text-dark-1-1" class="title font-size-16">
                      {{ item.data.profile.alias }}
                    </ion-label>
                    <div class="sub-title" style="display:flex; flex-direction: row-reverse; align-items:flex-end; flex-wrap:wrap;">
                      <span #info1>{{ item.ednBalanceDisplay  | number: '.0-3' }}
                        {{ 'EDN' | translate }}</span>
                      <span [ngClass]="{'invisible':!isSameLine(info1,info2)}">&nbsp;/&nbsp;</span>
                      <span #info2>{{ item.ethBalanceEther | number: '.0-3' }} ETH</span>
                    </div>
                  </div>
                </div>
              </div>
              <ion-button class="row-end-icon font-size-13" fill="clear" color="text-dark-2" *ngIf="showWalletsOrderIcon">
                <ion-icon name="menu"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>
        <div class="footer">
          <div class="divider"></div>
          <ion-toolbar style="border:none;" no-border-top no-border>
            <div class="flex-h-dir">
              <div class="flex-item-fill flex-ch-centered">
                <ion-button appBtnStyle class="fw-bold font-size-13" (click)="rs.navigateByUrl('/dp-edn-list')"
                  color="text-dark-1" style="text-transform:none;">{{
                        'AddEdn' | translate
                      }}</ion-button>
              </div>
            </div>
          </ion-toolbar>
        </div>
      </div>

      <div class="hcf-layout wallet-container tedn">
        <ion-toolbar class="header" color="main2">
          <ion-label class="fw-bold" color="text-light-1">{{ 'MyTEDNWalletsTitle' | translate }}</ion-label>
        </ion-toolbar>
        <ion-content class="content">
          <ion-list lines="none" no-margin padding class="content-list">
            <ion-item lines="none" no-margin (click)="onTednWalletItemClick(item)" *ngFor="
                let item of tednWallets;
                let i = index;
                let isOdd = odd;
                let isEven = even
              "
              [ngClass]="{
                even: isEven,
                odd: isOdd
              }">

              <div class="row-icon-content">
                <div class="icon-area">
                  <div [ngStyle]="{ 'background-color': item.data.color }"></div>
                </div>
                <div class="inner-content">
                  <div>
                    <ion-label color="text-dark-1-1" class="title font-size-16">
                      {{ item.data.name }}
                    </ion-label>
                    <ion-label text-right color="text-dark-3" class="sub-title">
                      {{ item.tednBalanceFormatted === null ? '-' : (item.tednBalanceFormatted | number: '.0-3') }}
                      TEDN
                    </ion-label>
                  </div>
                </div>
              </div>

              <ion-button fill="clear" color="text-dark-2" *ngIf="showTednWalletsOrderIcon">
                <ion-icon name="menu"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-content>

        <div class="footer">
          <div class="divider"></div>
          <ion-toolbar>
            <div class="flex-h-dir">
              <div class="flex-item-fill flex-ch-centered">
                <ion-button appBtnStyle color="text-dark-1" class="fw-bold font-size-13" (click)="onTEDNDepositClick()">{{ 'Deposit' | translate }}</ion-button>
              </div>
              <div class="flex-item-fill flex-ch-centered">
                <ion-button appBtnStyle color="text-dark-1" class="fw-bold font-size-13" (click)="onTEDNWithdrawClick()">{{ 'Withdraw' | translate }}</ion-button>
              </div>
            </div>
          </ion-toolbar>
        </div>
      </div>
    </div>
  </div>
</ion-content>
