<ion-content>
  <div>
    <img src='assets/img/e-wallet-logo-small.png' />
  </div>
  <div>
    <ion-list>
      <ion-item>
        <ion-label>{{ 'ProfileComment' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-input [placeholder]="'UserName' | translate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [placeholder]="'PhoneNumber' | translate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label>{{ 'TermsAndConditions' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label>{{ 'Privacy' | translate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-button class="main">{{ 'Continue' | translate }}</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>