<ion-header>
  <common-nav-bar title="{{ 'SignupProfileTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content>
  <div class="hfc-layout">
    <div class="header">
      <div margin-top class="logo-wrapper header">
        <div class="logo-img"></div>
      </div>
    </div>
    <div class="content flex-ch-h-centered">
      <div class="flex-ch-centered form-area">
        <div>
          <ion-label>{{ 'ProfileComment' | translate }}</ion-label>
        </div>

        <form novalidate [formGroup]="profileForm" class="fill-width">
          <div class="field-space">
            <ion-input #displayName [placeholder]="'DisplayName' | translate" formControlName="displayName"
              [(ngModel)]="profileFormData.displayName.value" (keyup.enter)="phoneNumber.setFocus()"></ion-input>
          </div>
          <div class="form-error-msg" *ngIf="profileForm.get('displayName').touched && profileForm.get('displayName').invalid">
            <div *ngIf="profileForm.get('displayName').hasError('required')">
              {{ 'valid.displayName.required' | translate }}
            </div>
          </div>

          <div class="field-space">
            <ion-input #phoneNumber [placeholder]="'PhoneNumber' | translate" formControlName="phoneNumber"
              [(ngModel)]="profileFormData.phoneNumber.value"></ion-input>
          </div>
          <div class="form-error-msg" *ngIf="profileForm.get('phoneNumber').touched && profileForm.get('phoneNumber').invalid">
            <div *ngIf="profileForm.get('phoneNumber').hasError('required')">
              {{ 'valid.phoneNumber.required' | translate }}
            </div>
            <div *ngIf="profileForm.get('phoneNumber').hasError('pattern')">
              {{ 'valid.phoneNumber.pattern' | translate }}
            </div>
          </div>

          <ion-item lines="none" style="width:100%;">
            <ion-checkbox color="secondary" #termsAndConditionsCheckBox></ion-checkbox>
            <ion-label>{{ 'TermsAndConditions' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" style="width:100%;">
            <ion-checkbox color="secondary" #privacyCheckBox></ion-checkbox>
            <ion-label>{{ 'Privacy' | translate }}</ion-label>
          </ion-item>
          <div margin-top>
            <!-- href="/pc-edit" -->
            <ion-button class="main" expand="full" (click)="onContinueBtnClick(displayName.value, phoneNumber.value, termsAndConditionsCheckBox.checked, privacyCheckBox.checked)">{{ 'Continue' | translate }}</ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
