<ion-header>
  <common-nav-bar title="{{ 'AddWalletTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper" no-padding>
  <div class="page-content" padding>
    <ion-button fill="clear" (click)="onCreateBtnClick()">
      <div class="flex-h-dir-v-centered">
        <ion-icon class="icon" name="add-circle" color="text-light-1"></ion-icon>
        <ion-label color="text-light-1" class="row-hor-item-fill">{{
              'CreateNewWallet' | translate
          }}</ion-label>
      </div>
    </ion-button>

    <ion-button fill="clear" class="margin-top" (click)="onImportBtnClick()">
      <div class="flex-h-dir-v-centered">
        <ion-icon class="icon" name="add-circle" color="text-light-1"></ion-icon>
        <ion-label color="text-light-1" class="row-hor-item-fill">{{
                'ImportWallet' | translate
            }}</ion-label>
      </div>
    </ion-button>
  </div>
</ion-content>
