.inner-content {
  height: 100%;
  align-items: center;
}

.inner-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.inner-content .content {
  width: 100%;
}

.content .input-area {
  width: 100%;
}

ion-item {
  --background: transparent;
}

.text-box-field {
  border: 1px #dddddd solid;
  --height: 200px;
  height: 200px;
}

.footer {
  width: 100%;
}

.comment {
  color: var(--color-text-light-1);
  font-size: .9em;
}
