<ion-content>
  <div class="hfc-layout">
    <div class="header">
      <div margin-top class="logo-wrapper header">
        <div class="logo-img"></div>
      </div>

      <p padding class="text-center">{{ 'Copyright' | translate }}</p>
    </div>
    <div class="content flex-ch-h-centered">
      <div class="flex-ch-centered form-area">
        <div>
          <ion-label>{{ 'SigninComment' | translate }}</ion-label>
        </div>
        <form novalidate [formGroup]="signinForm" class="fill-width">
          <div>
            <ion-input #userEmail type="email" formControlName="email" [placeholder]="'InputUserEmail' | translate"
              [(ngModel)]="signinFormData.email.value" (keyup.enter)="userPasswd.setFocus()"></ion-input>
          </div>
          <div class="form-error-msg" *ngIf="signinForm.get('email').touched && signinForm.get('email').invalid">
            <div *ngIf="signinForm.get('email').hasError('required')">
              {{ 'valid.email.required' | translate }}
            </div>
            <div *ngIf="signinForm.get('email').hasError('pattern')">
              {{ 'valid.email.pattern' | translate }}
            </div>
          </div>


          <div class="field-space">
            <ion-input #userPasswd clearOnEdit="true" type="password" formControlName="password"
              [placeholder]="'InputPassword' | translate" [(ngModel)]="signinFormData.password.value"
              (keyup.enter)="signin()"></ion-input>
          </div>
          <div class="form-error-msg" *ngIf="signinForm.get('password').touched && signinForm.get('password').invalid">
            <div *ngIf="signinForm.get('password').hasError('required')">
              {{ 'valid.password.required' | translate }}
            </div>
            <div *ngIf="signinForm.get('password').hasError('minLength')">
              {{ 'valid.password.minlength' | translate }}
            </div>
            <div *ngIf="signinForm.get('password').hasError('maxLength')">
              {{ 'valid.password.maxlength' | translate }}
            </div>
          </div>

        </form>
        <div>
          <ion-button btnStyle expand="block" fill="clear" href="/signup">
            <div>{{ 'IsForgotPasswd' | translate }}</div>
          </ion-button>
        </div>
        <div margin-bottom>
          <!-- href="/pc-edit" -->
          <ion-button expand="block" color="continue" (click)="signin()">{{ 'Login' | translate }}</ion-button>
        </div>

        <div>
          <span>{{ 'OrSigninWith' | translate }}</span>
        </div>
        <div>
          <ion-button expand="block" (click)="signinWithFacebook()">{{ 'Facebook' | translate }}</ion-button>
        </div>
        <div>
          <ion-button expand="block" (click)="signinWithTwitter()">{{ 'Twitter' | translate }}</ion-button>
        </div>
        <div margin-bottom>
          <ion-button expand="block" (click)="signinWithGoogle()">{{ 'Google' | translate }}</ion-button>
        </div>
        <div>
          <ion-button btnStyle expand="block" fill="clear" href="/signup">
            <div>{{ 'DontHaveAccount' | translate }}</div>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
