<div class="playground-wrapper">
  <div class="playground">
    <!-- All you need to play with -->
    <div class="numpad" [ngClass]="{'avoid-touch':isDisabled()}">
      <div class="num-button" (click)="inputPin('1')">1</div>
      <div class="num-button" (click)="inputPin('2')">2</div>
      <div class="num-button" (click)="inputPin('3')">3</div>
      <div class="num-button" (click)="inputPin('4')">4</div>
      <div class="num-button" (click)="inputPin('5')">5</div>
      <div class="num-button" (click)="inputPin('6')">6</div>
      <div class="num-button" (click)="inputPin('7')">7</div>
      <div class="num-button" (click)="inputPin('8')">8</div>
      <div class="num-button" (click)="inputPin('9')">9</div>
      <div class="num-button" (click)="inputPin('0')">0</div>
      <div class="num-button" (click)="delPin()">
        <ion-icon name="backspace"></ion-icon>
      </div>
    </div>
  </div>
</div>
