<ion-content class="page-wrapper" no-bounce no-padding>
  <div class="hcf-layout fill">
    <div class="content" no-bounce no-padding>
      <ion-list>
        <ion-item>
          <ion-label>
            {{ 'Sendto' | translate }}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="toAddress"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            {{ 'Amount' | translate }}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-input type="number" [(ngModel)]="amount"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="footer">
      <ion-toolbar>
        <ion-button appBtnStyle (click)="transferERC20Token()" expand="full">{{ "Send" | translate }}</ion-button>
      </ion-toolbar>
    </div>

  </div>
</ion-content>
