@import '../../../../theme/common.scss';

.page-content {
  padding-bottom: 18%;

  .content {
    .sub-header {
      font-size: 1.2em;
    }
  }

  .content>ion-label {
    display: block;
    width: 100%;
    text-align: center;
  }

  ion-select {
    width: 100%;
  }

  ion-label {
    color: var(--color-text-light-1);
  }

  ion-item.readonly {
    --highlight-color-focused: var(--color-item-underline);
  }

  ion-item {
    --background: rgba(0, 0, 0, 0);
    --background-color: rgba(0, 0, 0, 0);

    ion-input {
      --padding-bottom: 0px;
      --margin-left: 0px;
      --padding-left: 0px;
      padding: 0;
      --padding-start: 0px;
      --padding-end: 0px;
      --padding-top: 0px;
    }

    ion-label {
      margin-bottom: 0px;
    }
  }
}
