<ion-header>
  <common-nav-bar title="{{ 'ConfirmPinTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper fill" padding>
    <div class="hcf-layout">
      <div class="content">
        <ion-item lines="none">
          <ion-label> {{ 'ConfirmPinComment' | translate }} </ion-label>
        </ion-item>

        <div class="pin-code">
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
          <ion-button color="medium"></ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
