<ion-header>
  <common-nav-bar title="{{ 'ConfirmPinTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content no-bounce>
  <div class="page-wrapper fill" padding>
    <div class="hcf-layout">
      <div class="content">
        <ion-item lines="none">
          <ion-label> {{ 'ConfirmPinComment' | translate }} </ion-label>
        </ion-item>

        <div class="pin-code">
          <ion-button [color]="userInput.length > 0 ? 'continue' : 'medium'"></ion-button>
          <ion-button [color]="userInput.length > 1 ? 'continue' : 'medium'"></ion-button>
          <ion-button [color]="userInput.length > 2 ? 'continue' : 'medium'"></ion-button>
          <ion-button [color]="userInput.length > 3 ? 'continue' : 'medium'"></ion-button>
          <ion-button [color]="userInput.length > 4 ? 'continue' : 'medium'"></ion-button>
          <ion-button [color]="userInput.length > 5 ? 'continue' : 'medium'"></ion-button>
        </div>
      </div>

      <div class="display:flex; height:300px; width:100%;  flex-direction: column;">
        <div class="display:flex; flex-grow:1; width:100%; flex-direction: row;">
          <ion-button style="flex-grow: 1;" block (click)="inputPin('1')">1</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="inputPin('2')">2</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="inputPin('3')">3</ion-button>
        </div>
        <div class="display:flex; flex-grow:1; width:100%; flex-direction: row;">
          <ion-button style="flex-grow: 1;" block (click)="inputPin('4')">4</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="inputPin('5')">5</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="inputPin('6')">6</ion-button>
        </div>
        <div class="display:flex; flex-grow:1; width:100%; flex-direction: row;">
          <ion-button style="flex-grow: 1;" block (click)="inputPin('7')">7</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="inputPin('8')">8</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="inputPin('9')">9</ion-button>
        </div>
        <div>
          <ion-button style="flex-grow: 1;" block disabled>_</ion-button>
          <ion-button style="flex-grow: 1;" block disabled>_</ion-button>
          <ion-button style="flex-grow: 1;" block (click)="delPin()">
            <ion-icon name="backspace"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
