<ion-grid>
  <ion-row>
    <!-- Default wallet information -->
    <ion-col size="auto">
      <ion-label>Check Signed In : </ion-label>
      <ion-checkbox #checkSignedInBox color="primary" (ionChange)="refreshList()"></ion-checkbox>
    </ion-col>
    <ion-col size="auto">
      <ion-label>Filtered By User Info : </ion-label>
      <ion-checkbox #filteredWalletsByUserInfoBox color="primary" (ionChange)="refreshList()"></ion-checkbox>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row *ngFor="
        let item of wallets;
        let i = index;
        let isOdd = odd;
        let isEven = even
      "
    [ngClass]="{
        selected: isSelectedWallet(item),
        even: isSelectedWallet(item) ? false : isEven,
        odd: isSelectedWallet(item) ? false : isOdd
      }">
    <ion-grid>
      <ion-row>
        <!-- Default wallet information -->
        <ion-col align-self-center size="1">{{ i }}</ion-col>
        <ion-col align-self-center size="auto">{{ item.data.info.provider.type }} / {{ item.data.info.provider.connectionInfo }}</ion-col>
        <ion-col size="auto">
          <ion-button color="light" class="small-font" (click)="copyToClipboard(item.data.address)">Address
            : {{ item.data.address }}</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="light" (click)="copyToClipboard(item.data.info.data.privateKey)">Private
            Key</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="light" (click)="copyToClipboard(item.data.info.data.mnemonic)">Mnemonic</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="primary" (click)="selectWallet(item)">Select</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="danger" (click)="deleteWallet(item)">DEL</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="light" (click)="startEtherBalanceRetrieving(item)">{{
                item.ethBalanceEther === null
                  ? 'Get Balance'
                  : item.ethBalanceEther
              }}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="auto">
          <ion-button color="light" (click)="toggleWalletTransactionsRow(item)">{{
                item.transactionsExpanded ? '< Transactions' : 'Transactions >'
              }}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="item.transactionsExpanded">
        <ion-col>
          <ion-grid class="bordered-grid">
            <ion-row>
              <ion-col class="no-border">Transaction List</ion-col>
            </ion-row>

            <ion-row *ngFor="let tx of item.transactionHistory; let txIdx = index">
              <ion-col>
                <ion-button class="small-font" (click)="copyToClipboard(txToString(tx))">
                  {{ tx.hash }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="
                auto">
          <ion-button color="light" (click)="toggleWalletContractsRow(item)">{{
                item.contractsExpanded ? '< Contracts' : 'Contracts >'
              }}</ion-button>
        </ion-col>
      </ion-row>

      <!-- Contracts information -->
      <ion-row *ngIf="item.contractsExpanded">
        <ion-col>
          <ion-grid class="bordered-grid">
            <ion-row>
              <ion-col class="no-border">Contract Address List</ion-col>
            </ion-row>
            <!-- Contract List -->
            <ion-row *ngFor="
                  let contract of item.data.info.contracts;
                  let contIndex = index;
                  let isContractRowOdd = odd;
                  let isContractRowEven = even
                "
              [ngClass]="{
                  'odd-green': isSelectedContract(item,contract) ? false : isContractRowOdd,
                  'even-green': isSelectedContract(item,contract) ? false : isContractRowEven,
                  'selected': isSelectedContract(item,contract)
                }">
              <ion-col size-xs>
                <ion-grid>
                  <ion-row>
                    <ion-col size="auto"> {{ contract.type }} </ion-col>
                    <ion-col>
                      <ion-button color="light" class="small-font" (click)="copyToClipboard(contract.address)">Address
                        : {{ contract.address }}</ion-button>
                    </ion-col>
                    <ion-col size="auto">
                      <ion-button color="primary" (click)="selectContract(item, contract)">Select</ion-button>
                    </ion-col>
                    <ion-col size="auto" class="no-border">
                      <ion-button color="danger" (click)="deleteContractInfoFromWallet(item, contract)">DEL</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="contract.type === 'ERC20'">
                    <ion-col>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="auto">
                            <ion-button color="light" (click)="getERC20TokenInfo(item, contract)">Retrieve
                              Info</ion-button>
                          </ion-col>
                          <ion-col *ngIf="contract.contractInfo">
                            Name : {{ contract.contractInfo.name }} / Symbol :
                            {{ contract.contractInfo.symbol }} / Decimal :
                            {{ contract.contractInfo.decimal }} / My Balance :
                            {{
                                      findContractWorker(item, contract).adjustedBalance
                                        ? findContractWorker(item, contract)
                                            .adjustedBalance
                                        : '-'
                                    }}
                          </ion-col>
                          <ion-col size="auto">
                            <ion-button color="light" (click)="getERC20TokenBalance(item, contract)">Balance</ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <!-- Add Contract Input Form -->
            <ion-row>
              <ion-col size="auto" class="no-border">
                <ion-select [(ngModel)]="item.extraData.selectedContractType" (ionChange)="
                      onSelectContractType(
                        i,
                        item.extraData.selectedContractType
                      )
                    ">
                  <ion-select-option *ngFor="let contractType of supportedContracts">{{ contractType }}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col>
                <ion-input style="background-color: white;" class="borderd-input" placeholder="Contract Address"
                  [(ngModel)]="item.extraData.contractAddressToAdd"></ion-input>
              </ion-col>
              <ion-col size="auto" class="no-border">
                <ion-button (click)="addContractInfoToWallet(item)">Add Contract</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-grid>
