:host {
  display: block;
  background-color: #ffffff;
  --background: #ffffff;
}

.bordered-grid {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.bordered-grid ion-col {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  margin: 1px;
}

.bordered-input {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

ion-textarea {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.selected {
  background-color: #ff9999;
  --background: #ff9999;
}

.bordered-grid ion-col.no-border {
  border: none;
}

.even {
  background-color: #dddddd;
}

.odd {
  background-color: #eeeeee;
}

.even-green {
  background-color: #ccffcc;
}

.odd-green {
  background-color: #eeffee;
}

.small-font {
  font-size: .5em;
}

.smallest-font {
  font-size: .2em;
}
