ion-list {
  margin-bottom: 0px;

  --background: none;
  background: none;

  ion-item {
    --background: none;
  }
}

.wallet-name {
  font-size: var(--font-size-24);
}

.sub-item {
  color: var(--color-text-light-1);

  .field-label {
    flex: none;
    margin-right: var(--space-normal);
    font-size: var(--font-size-13);
  }

  .field-value {
    font-size: var(--font-size-18);
    flex-grow: 1;
  }

  .field-value-tail {
    flex: none;
    margin-left: var(--space-half);
    font-size: var(--font-size-13);
  }
}
