ion-list {
  margin-bottom: 0px;

  --background: none;
  background: none;

  ion-item {
    --background: none;
  }
}

.wallet-name {
  font-size: 1.4em;
}

.sub-item {
  color: var(--color-text-light-1);

  .field-label {
    flex: none;
    margin-right: var(--space-normal);
    font-size: .85em;
  }

  .field-value {
    font-size: 1.1em;
  }
}
