<ion-header>
  <common-nav-bar [hideBackButton]="true" title="{{ 'RegAuthIntroTitle' | translate }}"></common-nav-bar>
</ion-header>

<ion-content class="page-wrapper">
  <div class="page-content fill flex-ch-centered" ion-fixed>
    <div class="inner-content page-width-wide">
      <div class="content margin-top-40">
        <ion-label color="text-light-1" class="title comment-1 text-center">
          {{ 'RegAuthIntroComment' | translate }}
        </ion-label>

        <div class="flex-h-dir function-box">
          <div class="icon-box">
            <div class="icon touch-id"></div>
            <div class="name text-center">
              {{ 'TouchID' | translate }}
            </div>
          </div>

          <div class="center"></div>
          <div class="icon-box">
            <div class="icon pin-code flex-ch-centered">
              <span>1 2 3</span>
            </div>
            <div class="name text-center">
              {{ 'PinCode' | translate }}
            </div>
          </div>
        </div>
        <div class="comment-2">
          {{ 'RegAuthIntroComment2' | translate }}
        </div>
      </div>

      <div class="footer">
        <ion-button expand="block" color="theme-1" class="no-uppercase fw-bold font-size-12 radius-10 height-41 margin-top-49"
          (click)="onNextBtnClick()">
          {{ 'Next' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
